
<div class="container-fluid px-5 mt-5 ">
  <div class="col-md-10 mx-auto"> 
    <%# <h2 class="mx-auto text-center my-5"><%= t '.title' %></h2> 
    <div class="row">
      <div class="col-md-3">
        <ul class="sidebar-list pl-0 pt-5">
          <%# <li class="sidebar-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %>
          <li class="sidebar-item"><%= link_to "#{t('.delete_account')}", registration_path(resource_name), data: { confirm: "#{t('.sure_to_delete')}" }, class: "sidebar-link active", method: :delete %></li>
          <li class="sidebar-item"><%= link_to "#{t('.back')}", :back, class: "sidebar-link active" %></li>
        </ul>
        <br/>

        <%= link_to "#{t('.view_profile')}", user_path(current_user.id), class: "btn btn-primary" %>
      </div>
  <div class="col-md-7">
    <div class="">
      <div class="">
        <div class="container">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages" %>
            
            <div class="form-inputs">
            <div class="form-row">
              <div class="form-group col-12">
                <%= f.input :name, autofocus: true, class: "form-control" %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <%= f.input :phone, autofocus: true, class: "form-control", hint: "Telefoninumbrit ei näidata avalikult" %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <%= f.input :description, as: :text, input_html: { rows: 5}, autofocus: true, class: "form-control", hint: "Lisage teave, mida soovite oma profiilil kuvada, näiteks sugu ja vanus. Lisage enda kontaki info mille kaudu soovite, et huvilised saaksid ühendust võtta otse. " %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <%= f.input :email, autofocus: true, class: "form-control", hint: "Meiliaadressi ei näidata avalikult" %>
              </div>
            </div>
            <div class="form-row">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p><%= t '.please_confirm_email'%> <%= resource.unconfirmed_email %></p>
              <% end %>
            </div>
            <div class="form-row">
            <div class="form-group col-12">
              <%= f.input :password,
                          placeholders: "#{t('.leave_blank_password')}",
                          required: false,
                          label: "#{t('.new_password')}",
                          input_html: { autocomplete: "new-password" } %>
              </div>
            </div>
            <div class="form-row">
            <div class="form-group col-12">
              <%= f.input :password_confirmation,
                          required: false,
                          label: "#{t('.confirm_new_password')}",
                          input_html: { autocomplete: "new-password" } %>
              </div>
            </div>
           
            </div>

            <div class="form-actions">
              <%= f.button :submit, "#{t('.action')}", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <br/>
    
  </div>
</div>



  </div>
</div>