<div class="container-fluid px-5 mt-5 new-apartment-form">
  <div class="col-md-6 mx-auto"> 
    <h2 class="mx-auto text-center my-5"><%= t '.title' %></h2>


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.label :description %>
          <%= f.text_area :description, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.input :name, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.input :email, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p><%= t '.please_confirm_email'%> <%= resource.unconfirmed_email %></p>
        <% end %>
      </div>
      <div class="form-row">
      <div class="form-group col-12">
        <%= f.input :password,
                    hint: "#{t('.leave_blank_password')}",
                    required: false,
                    label: "#{t('.new_password')}",
                    input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
      <div class="form-row">
      <div class="form-group col-12">
        <%= f.input :password_confirmation,
                    required: false,
                    label: "#{t('.confirm_new_password')}",
                    input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
      <div class="form-row">
      <div class="form-group col-12">
        <%= f.input :current_password,
                    hint: "#{t('.current_password_for_change')}",
                    label: "#{t('.current_password')}",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        </div>
      </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "#{t('.action')}", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="my-5 ">
      <p><%= link_to "#{t('.delete_account')}", registration_path(resource_name), data: { confirm: "#{t('.sure_to_delete')}" }, class: "btn btn-primary", method: :delete %></p>
      <%= link_to "#{t('.back')}", :back %>
    </div>

  </div>
</div>