<div class="container-fluid px-5 mt-5">
  <div class="col-md-4 mx-auto">
    <h2 class="mx-auto text-center my-5"><%= t '.title'%></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages" %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    input_html: { autocomplete: "name" }
                    %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" }
                    %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{t('.at_least')} #{@minimum_password_length} #{t('.characters')}" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" }
                    %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    label: "#{t('.confirm_password')}" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "#{t('.action')}", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <div class="my-5">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>