

<div class="row m-5">
  <div class="col-md-3">
    <div class="center">
      <% if @user.image %>
        <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large", class: "img-circle avatar-large" %>
      <% else %>
          <%= cl_image_tag "user_icon_profile", class: "avatar avatar-large", style: "" %> 
      <% end %>
      <% if current_user && current_user != @user %>
        <%# <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn btn-default" %> 
      <% end %>
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        <h5><%= @user.name %></h5>
      </div>
      <div class="card-body">
        <% if @user.description == "" && @user == current_user %>
          <%= link_to "Lisage enda kontaki info, et teised kasutajad saaksid ühendust võtta otse.", edit_user_registration_path %>
        <% else %>
          <%= @user.description %>
        <% end %>
      </div>
      
    </div>
    <ul class="sidebar-list pl-2 pt-5">
          <% if current_user && current_user == @user %>
          <li class="sidebar-item"><%= link_to "Kuulutused, milleks otsid korterikaaslasi", likes_path, class: "sidebar-link active" %></li>
          <li class="sidebar-item"><%= link_to "Muuda profiili", edit_user_registration_path, class: "sidebar-link active" %></li>
          <% end %>
          <li class="sidebar-item"><%= link_to "Tagasi", :back, class: "sidebar-link active" %></li>
    </ul>
    <br/>
  </div>

  <div class="col-md-9">
    
    <!-- ======= User's own profile ======= -->

    <% if current_user && current_user == @user %>
    <div class="container my-5">
        <h2>Postitatud kuulutused</h2>
    </div>
    <!-- ======= Information Box about Contacting ======= -->
    <% if current_user && current_user == @user && current_user.apartments.any? %>
        <div class="apartment-details">
          <div class="row gy-4 ml-lg-3" style="display: flex;">
            <div class=" mr-lg-3 my-2 px-0">
              <div class="apartment-info mx-auto mt-0" id="information-box" >
                Kui huvilised lisavad oma kontakti info, saate Teie selle kohta teavituse meili teel ja veebilehel. Suhtlus toimub hetkel veebileheväliselt.<br/><br/>
                Võtke soovi korral huvilistega ühendust nende lisatud kontakti info kaudu.
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <!-- ======= Aktiivsed kuulutused sektsioon ======= -->
    <div class="container my-5">
        <% @active_apartments.each do |apartment| %>
            <div class="card mb-3">
                <div class="row g-0">
                    
                    <div class="col-md-3 my-3" style="display: flex; justify-content: center;">
                        <% if defined? apartment.photos[0] %>
                                <%= cl_image_tag apartment.photos[0].key, crop: :fill, width: 200, height: 200, class:"ml-3" %>
                        <% end %>
                        <!--
                        <% apartment.photos.each do |photo| %>
                        <%= cl_image_tag photo.key, crop: :fill, height: 200, width: 200, class: "ml-3", :quality=>"auto" %>
                        <% end %>
                        -->
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <%= link_to apartment_path(apartment) do %>
                            <h4 class="card-title"><%= apartment.intro %></h4>
                            <h6 class="card-title"><%= apartment.description %></h6>
                            <% end %>
                            <button type="button" class="btn my-3 btn-aktiivne">Kuulutus on aktiivne</button>
                            <%= link_to "Arhiveeri kuulutus", deactivate_apartment_path(apartment), method: :patch, class: "btn my-3 btn-secondary" %>
                            <%= link_to "Muuda kuulutuse infot", edit_apartment_path(apartment), class: "btn  my-3 btn-primary" %>
                            <%= link_to "Kustuta kuulutus",
                                apartment_path(apartment),
                                method: :delete,
                                data: { confirm: "Olete kindel, et soovite kustutada kuulutuse?" },
                                class: "btn my-3 btn-eemalda" %>
                        </div>
                    </div>
                </div>
            </div>  
        <% end %>   
    </div>

    <!-- ======= Mitteaktiivsed kuulutused sektsioon ======= -->
    <div class="container my-5">
        <% @inactive_apartments.each do |apartment| %>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3 my-3" style="display: flex; justify-content: center;">
                                <%= cl_image_tag apartment.photos[0].key, crop: :fill, width: 200, height: 200, class:"ml-3" %>
                            </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <%= link_to apartment_path(apartment) do %>
                            <h4 class="card-title"><%= apartment.intro %></h4>
                            <h6 class="card-title"><%= apartment.description %></h6>
                            <% end %>
                            <button type="button" class=" btn my-3 btn-secondary">Kuulutus on mitteaktiivne</button>
                            <%= link_to "Aktiveeri kuulutus", activate_apartment_path(apartment), method: :patch, class: "my-3 btn btn-aktiivne" %>
                            <%= link_to "Muuda kuulutuse infot", edit_apartment_path(apartment), class: "btn my-3 btn-primary" %>
                            <%= link_to "Kustuta kuulutus",
                                apartment_path(apartment),
                                method: :delete,
                                data: { confirm: "Olete kindel, et soovite kustutada kuulutuse?" },
                                class: "btn my-3 btn-eemalda" %>
                        </div>
                    </div>
                </div>
            </div>  
        <% end %>   
    </div>
    <!-- ======= Another user's profile ======= -->
    <% else %>
        <div class="container my-5">
        <h2>Korterite kuulutused</h2>
    </div>
    <!-- ======= Aktiivsed kuulutused sektsioon ======= -->
    <div class="container my-5">
        <% @active_apartments.each do |apartment| %>
            <div class="card mb-3">
                <div class="row g-0">
                    
                    <div class="col-md-3 my-3" style="display: flex; justify-content: center;">
                        <% if defined? apartment.photos[0] %>
                                <%= cl_image_tag apartment.photos[0].key, crop: :fill, width: 200, height: 200, class:"ml-3" %>
                        <% end %>
                        <!--
                        <% apartment.photos.each do |photo| %>
                        <%= cl_image_tag photo.key, crop: :fill, height: 200, width: 200, class: "ml-3", :quality=>"auto" %>
                        <% end %>
                        -->
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <%= link_to apartment_path(apartment) do %>
                            <h4 class="card-title"><%= apartment.intro %></h4>
                            <h6 class="card-title"><%= apartment.description %></h6>
                            <button type="button" class="btn my-3 btn-aktiivne">Kuulutus on aktiivne</button>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>  
        <% end %>   
    </div>
    <% end %>

    <%# <h4>Listings (<%= @rooms.length %></h4><br/>

    <div class="row">
      <%# <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
    </div>
    <br/>

    <%# <h4>Reviews From Guests (<%= @guest_reviews.count %></h4> 
    <div class="row">
      <%# <%= render "reviews/guest_list" %> 
    </div>
    <br/>

    <%# <h4>Reviews From Hosts (<%= @host_reviews.count %></h4> 
    <div class="row">
      <%# <%= render "reviews/host_list" %> 
    </div>

  </div>
</div>
