
<div class="navbar navbar-expand-sm navbar-main">
 

  <%= link_to "Co-Flat", root_path, class: "navbar-brand ml-4" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <p class="" style="font-size: 2.4em; color: #032970">≡</p>
  </button>

  <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
              <%# - if user_signed_in?
          %li
            .dropdown.notification-dropdown
              %button.btn.btn-default.dropdown-toggle{ type: 'button', id: 'dropdownMenu1', data: { toggle: 'dropdown' }, 'aria-haspopup': true, 'aria-expanded': true }
                5
                %span.glyphicon.glyphicon-flag
              %ul.dropdown-menu{ 'aria-labelledby': 'dropdownMenu1' }
                %li.dropdown-header.text-center Notifications
                %li
                  %a{ href: '#' } Notification 1
                %li
                  %a{ href: '#' } Notification 2 %>
        
        
        <li class="nav-item mr-1">
          <%= link_to "Lisa kuulutus", apartments_new_path, class: "nav-link  mr-4" %>
        </li>
        <%= render "notifications/notification_dropdown" %>
        <!----
        <li class="nav-item mr-1">
          <%= link_to "Eesti keel", root_path(locale: :et), class: "nav-link  mr-3" %>
        </li>
        <li class="nav-item mr-1">
          <%= link_to "English", root_path(locale: :en), class: "nav-link  mr-3" %>
        </li>
        
        -->
       
        <li class="dropdown nav-item px-5" style="display: flex; flex-direction: row;">
              <a href="#" class=" dropdown-toggle-split" style="display: flex; flex-direction: row;" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <% if current_user.image %>
                      <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large", class: "img-circle avatar-small" %>
                    <% else %>
                       <%= cl_image_tag "user_icon_profile", class: "avatar dropdown-toggle img-circle avatar-small", style: "align-self: center;" %> 
	                  <% end %>
                    <p class="my-auto ml-2"><%= current_user.name + " ▾" || "Töölaud ▾" %></p>    
              </a>
              <ul class="dropdown-menu" style="min-width: 14rem;">
                <li class="dropdown-item"><%= link_to "Kuulutused ja profiil", user_path(current_user) %></li>
                <li class="dropdown-item"><%= link_to "Teated ja sõnumid", notifications_path %></li>
                <%# <li class="dropdown-item"><%= link_to "Reserveeringud", bookings_path %>
                <li role="separator" class="divider"></li>
                <li class="dropdown-item"><%= link_to "Muuda profiili infot", edit_user_registration_path %></li>
                <li class="dropdown-item"><%= link_to "Logi välja", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
      <% else %>
        <li class="nav-item mr-1">
            <%= link_to "Lisa kuulutus", apartments_new_path, class: "nav-link  mr-3" %>
        </li>
        <li class="nav-item mr-5">
          <%= link_to "Logi sisse", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item mr-5">
          <%= link_to "Loo konto", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
