<div class="container-fluid px-5 mt-5 new-apartment-form">
  <%= simple_form_for(@apartment) do |f| %>
    <div class="form-row">
      <div class="form-group col-md-5 mx-3">
        <label><%= t '.city_region'%></label>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <label><%= t '.neighborhood_county'%></label>
        <%= f.text_field :neighborhood, class: "form-control" %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <label class="mb-0"><%= t '.address'%></label>
        <small class="form-text text-muted">Majanumbriga aadressiga kuulutust näidatakse kaardil</small>
        <%= f.text_field :address, class: "form-control" %>
        <%= f.input_field :show_address, as: :boolean, id: "showAddressCheckbox" %>
        <label for="showAddressCheckbox">Näita aadressi kuulutuses</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 mx-3">
        <div class="buttons-vertical-wrapper mx-3">
          <%= f.collection_radio_buttons :room_type, [["Eraldi tuba", 'Eraldi tuba'] ,["Jagatud tuba", 'Jagatud tuba'], ["Terve korter", 'Terve korter']], :first, :last %>
        </div>
      </div>
      <div class="form-group col-md-5 mx-3">

        <div class="buttons-vertical-wrapper mx-3">
          <%= f.collection_radio_buttons :bed_type, [["Diivan/sofa", 'Diivan/sofa'] ,["Ühekohaline voodi", 'Ühekohaline voodi'], ["Kahekohaline voodi", 'Kahekohaline voodi']], :first, :last %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 mx-3">
        <label>Kuulutuse tüüp</label>
        <div class="buttons-vertical-wrapper mx-3">
          <%= f.collection_radio_buttons :propertytype, [["Korter", 'Korter'] ,["Eramaja", 'Eramaja'], ["Muu", 'Muu']], :first, :last %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 mx-3">
        <label>Toa suurus (m²)</label>
        <%= f.number_field :room_size_m2, class: "form-control", value: "0" %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <label>Korteri suurus (m²)</label>
        <%= f.number_field :apartment_size_m2, class: "form-control" %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <label class="mb-0">Hetkel naissoost korterikaaslasi</label>
        <small class="form-text text-muted">See teave aitab kuulutuse otsijatel otsustada</small>
        <%= f.number_field :flatmates_female, class: "form-control", value: 0 %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <label class="mb-0">Hetkel meessoost korterikaaslasi</label>
        <small class="form-text text-muted">See teave aitab kuulutuse otsijatel otsustada</small>
        <%= f.number_field :flatmates_male, class: "form-control", value: 0 %>
      </div>
    </div>
    <div class="form-row mt-5">
      <div class="form-group col-md-6 mx-3">
        <label>Eelistatud korterikaaslase sugu</label>
        <div class="buttons-vertical-wrapper mx-3">
          <%= f.collection_radio_buttons :preferred_gender, [["Ei oma tähtsust", 'Ei oma tähtsust'] ,["Naissoost", 'Naissoost'], ["Meessoost", 'Meessoost']], :first, :last %>
        </div>
      </div>
    </div>
    <div class="form-row mb-5">
      <div class="form-group col-md-5 mx-3">
        <label class="mb-0">Eelistatud korterikaaslase minimaalne vanus</label>
        <small class="form-text text-muted">Selle teave võib täita soovi korral</small>
        <%= f.number_field :min_preferred_flatmate_age, class: "form-control", value: 18 %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <label class="mb-0">Eelistatud korterikaaslase maksimaalne vanus</label>
        <small class="form-text text-muted">Selle teave võib täita soovi korral</small>
        <%= f.number_field :max_preferred_flatmate_age, class: "form-control" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 mx-3">
        <label>Magamistubade arv</label>
        <%= f.number_field :bedroomnumber, class: "form-control", value: 1 %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <label>Vannitubade arv</label>
        <%= f.number_field :bathroomnumber, class: "form-control", value: 1 %>
      </div>
    </div>
    <label class="mx-3 mt-5">Võimalused</label>
    <div class="form-row mt-2">
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_wifi, as: :boolean, id: "is_wifi" %>
        <label for="is_wifi" >Internet</label>
      </div>
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_furniture, as: :boolean, id: "is_furniture" %>
        <label for="is_furniture">Mööbel</label>
      </div>
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_parking, as: :boolean, id: "is_parking" %>
        <label for="is_parking">Parkimine</label>
      </div>
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_tv, as: :boolean, id: "is_tv" %>
        <label for="is_tv">Televisoon</label>
      </div>
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_desk, as: :boolean, id: "is_desk" %>
        <label for="is_desk">Laud töötamiseks</label>
      </div> 
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_balcony, as: :boolean, id: "is_balcony" %>
        <label for="is_balcony">Rõdu</label>
      </div> 
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_washing_machine, as: :boolean, id: "is_washing_machine" %>
        <label for="is_washing_machine">Pesumasin</label>
      </div> 
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_lift, as: :boolean, id: "is_lift" %>
        <label for="is_lift">Lift</label>
      </div> 
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_dishwasher, as: :boolean, id: "is_dishwasher" %>
        <label for="is_dishwasher">Nõudepesumasin</label>
      </div>
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_private_bathroom, as: :boolean, id: "is_private_bathroom" %>
        <label for="is_private_bathroom">Eraldi vannituba</label>
      </div> 
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_garden, as: :boolean, id: "is_garden" %>
        <label for="is_garden">Aed</label>
      </div> 
    </div>

    <label class="mx-3 mt-5">Reeglid</label>
    <div class="form-row mt-2">
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_pet_friendly, as: :boolean, id: "is_pet_friendly" %>
        <label for="is_pet_friendly">Lemmikloomad on lubatud</label>
      </div>
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_smoker_friendly, as: :boolean, id: "is_smoker_friendly" %>
        <label for="is_smoker_friendly">Suitsetamine lubatud</label>
      </div>
      <div class="form-group col-sm-2 col-md-3 mx-3 mb-0">
        <%= f.input_field :is_couples_friendly, as: :boolean, id: "is_couples_friendly" %>
        <label for="is_couples_friendly">Paarid on lubatud</label>
      </div>      
    </div>
  
    <div class="form-row mt-2">
      <div class="form-group col-md-5 mx-3">
        <%= f.input :minimum_stay_in_months, collection: 1..24, selected: 1, label: "Minimaalne üüriperiood (kuudes)" %>
      </div>
      
    </div>

  
    <div class="form-row">
      <div class="form-group col-md-5 mx-3">
        <label>Korteri lühikirjeldus</label>
        <%= f.text_field :intro, class: "form-control" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-9 mx-3">
        <label>Korteri kirjeldus ja lisainfo</label>
        <%= f.text_area :description, class: "form-control", style: "height: 300px;" %>
      </div>
    </div>

    <div class="form-row my-4">
      <div class="form-group mx-3 col-md-11">
        <label><bold>Kas reserveerimisvõimalus on olemas?</bold></label>
        <p class="text-muted">Reserveerimisvõimalus tähendab, et huviline saab küsida reserveeringut kindlal kuupäeval, mis Teil tuleb kinnitada või tühistada.</p>
        <%= f.input_field :is_bookable, as: :boolean, id: "is_bookable" %>
        <label for="is_bookable">Reserveerimisvõimalus on olemas</label>
      </div> 
    </div>

    <div class="form-row">
      <div class="form-group col-md-5 mx-3">
        <label>Rent (kuus)</label>
        <%= f.number_field :rent, class: "form-control", value: @apartment.rent_cents/100 %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <label>Deposiit</label>
        <%= f.number_field :deposit, class: "form-control" %>
        <small class="form-text text-muted">0, kui deposiiti ei ole</small>
      </div>
    </div>

    <div class="form-row mt-2">
      <div class="form-group col-md-5 mx-3">
        <%= f.input :available, input_html: {class: "flatpickr-input"}, label: "Saadaval alates" %>
      </div>
      <div class="form-group col-md-5 mx-3">
        <%= f.input :available_until, input_html: {class: "flatpickr-input"}, label: "Saadaval kuni" %>
        <small class="form-text text-muted mt-0">Juhul, kui see teave on teada</small>
      </div>
    </div>

    <div class="form-row mt-2 mx-3">
      <label>Lisa korteri pildid (Pildid tuleb valida korraga)</label>
    </div>
    <div class="form-row mt-2 mx-3", style="width: 700px;">
      <%= f.input :photos, as: :file, input_html: { multiple: true, id: "file-upload"} %>
    </div>

    <div class="form-row mt-2 mx-3 mb-5">
      <%= f.button :submit, class: "btn btn-primary", value: "Uuenda korteri kuulutus" %>
    </div>
  <% end %>
</div>

    