
<!-- ======= Hero Section ======= -->

<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 class="mt-0">Co-Flat</h1>
        <h2 class="mt-5">Kuulutused ainult otse omanikelt</h2>      
        <h2 class="mt-4 mb-2">Tudengielu elamine lihtsamalt</h2>
        
        <%= link_to "Lisa kuulutus", apartments_new_path, class: "btn btn-cta btn-primary mt-4 mb-3 mx-auto" %>
        
      </div>
      <div class="col-lg-6 hero-img" >
        <%= cl_image_tag("banner-smaller", crop: :fill, :class => "hero-img-tag", :quality=>"auto:low") %>
      </div>
      <div class="pt-5" style="display: flex; width: 100%; justify-content: center;">

        <span><i class="fas fa-chevron-down fa-5x mx-auto" style="color: #cccccc; align-self: center; "></i></span>
      </div>
    </div>
  </div>
</section>


<!-- ======= Apartments section ======= -->
<section id="apartment" class="apartment">

  <div class="container">
    <div>
    <header class="section-header">
      <h2>Korterikuulutused</h2>
      <%= form_tag root_path, method: :get do %>
        <%# <%= label :location, "Otsi kortereid asukoha j채rgi: "%>
        <%# <%= text_field_tag :search, params[:search] %> %> %>
        <!-- Kui tuleb reserveerimise feature
        <div class="form-row mt-1">
          <div class="form-group col-md-2">
            <%= label :available, "Saadaval alates"%>
            <%= text_field_tag :available, params[:available], class: "flatpickr-input form-control" %>
          </div>
          <div class="form-group col-md-2 mx-3">
            <%= label :available_until, "Saadaval kuni"%>
            <%= text_field_tag :available_until, params[:available_until], class: "flatpickr-input form-control"  %>
          </div>
        </div>
        -->
        <div class="form-row mt-1">
          <div class="form-group col-md-2">
            <%= label :min_price, "Miinimum hind"%>
            <%= text_field_tag :min_price, params[:min_price], class: "form-control" %>
          </div>
          <div class="form-group col-md-2 mx-md-3">
            <%= label :max_price, "Maksimum hind"%>
            <%= text_field_tag :max_price, params[:max_price], class: "form-control"  %>
          </div>
        </div>
        <div class="row mt-1 search-checkboxes">
          <div class="col-md-3">
            <%= check_box_tag "q[room_type_eq_any][]", "Eraldi tuba", true %>Eraldi tuba
          </div>
          <div class="col-md-3">
            <%= check_box_tag "q[room_type_eq_any][]", "Jagatud tuba", true %>Jagatud tuba
          </div>
          <div class="col-md-3">
            <%= check_box_tag "q[room_type_eq_any][]", "Terve korter", true %> Terve korter/체체ritav pind
          </div>
        </div>
        
      
        <%= submit_tag "N채ita", class: "btn btn-primary my-4" %>
      <% end %>
    </header>
    </div>  
    <div class="row mt-3">
      <div class="container-apartments-show col-lg-8">
        <div class="row gy-4 apartment-container">
          <% @active_apartments.each do |apartment| %>
            <div class="mb-4 mx-auto">
              
                <div class="card apartment-card" style="width: 300px;">  
                  <div class="card-top">
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                        
                          <% apartment.photos.each do |photo| %>
                          <div class="swiper-slide"><%= cl_image_tag photo.key, crop: :fill, width: 300, height: 200, :quality=>"auto:low" %></div>
                        <% end %>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                    </div>
                  </div>
                  <%= link_to apartment_path(apartment), target: :_blank do %>
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="card-title"><%= humanized_money_with_symbol(apartment.rent) %></h5>
                        <p class="text-muted text-right" style="font-size: 0.8rem; width: 9vw;"><%= "Korterikaaslasi otsib #{apartment.likes.count} kasutajat" unless (apartment.likes.count == 0 ) %></p>
                      </div>
                      <p class="card-text"><%= apartment.intro %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item text-muted"><%= apartment.neighborhood unless apartment.neighborhood.blank? %>, <%= apartment.city unless apartment.city.blank? %></li>
                      <li class="list-group-item text-muted"><%= apartment.room_type unless apartment.room_type.blank? %><%= ", " unless (apartment.room_type.blank? or apartment.propertytype.blank? ) %><%= apartment.propertytype.downcase unless apartment.propertytype.blank? %></li>
                      <li class="list-group-item text-muted"><%= apartment.flatmates_male + apartment.flatmates_female %> korterikaaslast</li>
                    </ul>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container-map col-lg-4">
        <div id="map" class="map-apartments"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Apartments Section -->


