<section id="apartment-details" class="apartment-details" style="display: flex; justify-content: center;">
      <div class="container px-1 mx-1">
        <!-- If the user looks at their posting, they can see how people will contact them -->
        <% if current_user && current_user.id == @apartment.user_id %>
          <div class="row gy-4 ml-lg-3" style="display: flex;">
            <div class=" mr-lg-3 my-2 px-0">
              <div class="apartment-info mx-auto mt-3" id="information-box" >
                Kuulutus on avalik. <br/>
                Huvilised saavad lisada oma kontakteerumise info. Teie saate selle kohta teavituse meili teel ja veebilehel. Suhtlus toimub hetkel veebileheväliselt.<br/><br/>
                <p><%= link_to "Lisage enda kontaki info profiilil, et huvilised saaksid ühendust võtta otse.", edit_user_registration_path %></p>
              </div>
            </div>
          </div>
        <% end %>
    
        <div class="row gy-4" style="display: flex; justify-content: center;">
          <!-- This div needs to be looked at because the tag is not closed -->
          <div class="col-lg-6 mr-lg-3 my-2 px-0" 
            <div class="container-for-slideshow">
              <div class="swiper-container apartment-slide-container">
                <div class="swiper-wrapper">
                  <% @apartment.photos.each do |photo| %>
                    <div class="swiper-slide apartment-slide"><%= cl_image_tag photo.key, crop: :fill, width: 400, height: 400, :quality=>"auto", style: "width: 100%; object-fit: cover;" %> </div>
                  <% end %>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination page-numbers"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-scrollbar"></div>
              
            </div>

            <div class="apartment-info mx-auto mt-3" >
              <% if @user_like %>
                <%= render "likes/like_remove" %>
              <% else %>
                <%= render "likes/like_create" %>
              <% end %>

              <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#contactModal">
                Kontakteeru üürileandjaga
              </button>

              <!-- Modal -->
              <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Märgi, et otsid korterikaaslasi ja oled kuulutusest huvitatud</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= form_tag bookings_path do %>
                        <%= hidden_field_tag 'apartment_id', @apartment.id %>
                        <%= text_area_tag 'description', "", class: 'form-control my-3', placeholder: "Lisa kontaktandmed, millega soovid, et kuulutuse ülespanija kontakteeruks. Veebilehe kaudu suhtlust ei toimu. Lisa küsimused kuulutuse kohta.", rows: 6 %>
                        <div class="modal-footer">
                          <%= submit_tag 'Kontakteeru üürileandjaga', class: 'btn btn-primary' %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-11">
                  <p><%= @apartment.description %></p>
                </div>
              </div>
              
              <div class="row mt-4">
                <div class="col-6">
                  <strong>Toa suurus</strong>
                  <p><%= @apartment.room_size_m2 %> m²</p>
                </div>
                <div class="col-6">
                    <strong>Korteri suurus</strong>
                    <p><%= @apartment.apartment_size_m2 %> m²</p>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <strong>Magamistube</strong>
                  <p><%= @apartment.bedroomnumber %></p>
                </div>
                <div class="col-6">
                    <strong>Vannitube</strong>
                    <p><%= @apartment.bathroomnumber %></p>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <strong>Võimalused</strong>
                </div>
              </div>
              <div class="row mt-4">
              <% if @apartment.is_wifi %>
                <div class="col-6">
                  <p><i class="fas fa-wifi"></i> Internet</p>
                </div>
              <% end %>
              <% if @apartment.is_washing_machine %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="lni lni-tshirt"></i> Pesumasin</p>
                </div>
              <% end %>
              <% if @apartment.is_parking %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="lni lni-car-alt"></i> Parkimine</p>
                </div>
              <% end %>
              <% if @apartment.is_furniture %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="fas fa-chair"></i> Mööbel</p>
                </div>
              <% end %>
              <% if @apartment.is_desk %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="lni lni-school-bench"></i> Laud töötamiseks</p>
                </div>
              <% end %>
              <% if @apartment.is_tv %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="fas fa-tv"></i> Televisoon</p>
                </div>
              <% end %>
              <% if @apartment.is_lift %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="fas fa-door-closed"></i> Lift</p>
                </div>
              <% end %>
              <% if @apartment.is_dishwasher %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="lni lni-dinner"></i> Nõudepesumasin</p>
                </div>
              <% end %>
              <% if @apartment.is_private_bathroom %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="fas fa-toilet-paper"></i> Eraldi vannituba</p>
                </div>
              <% end %>
              <% if @apartment.is_garden %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="lni lni-sprout"></i> Aed</p>
                </div>
              <% end %>
              <% if @apartment.is_balcony %>
                <div class="col-6">
                    <strong></strong>
                    <p><i class="lni lni-sun"></i> Rõdu</p>
                </div>
              <% end %>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <strong>Reeglid</strong>
                </div>
              </div>
              <div class="row mt-4">
              <% if @apartment.is_pet_friendly %>
                <div class="col-6">
                  <p><i class="fas fa-dog"></i> Loomad lubatud</p>
                </div>
              <% end %>
              <% if @apartment.is_smoker_friendly %>
                <div class="col-6">
                  <p><i class="fas fa-smoking"></i> Suitsetamine lubatud</p>
                </div>
              <% end %>
              <% if @apartment.is_couples_friendly %>
                <div class="col-6">
                  <p><i class="fas fa-user-friends"></i> Paarid lubatud</p>
                </div>
              <% end %>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <strong></strong>
                </div>
              </div>
            </div>
          </div>
          

          <div class="col-lg-5 my-2 px-0 ">
            <div class="apartment-info">
              <h3><%= @apartment.intro %></h3>
              <div class="row mt-4">
                <div class="col-11">
                  <%= render "likes/showing_modal" %>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <strong><%= @apartment.room_type %></strong>
                </div>
                <div class="col-6">
                    <strong><%= @apartment.propertytype %></strong>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <strong>Rent</strong>
                  <p><%= humanized_money_with_symbol(@apartment.rent) %></p>
                </div>
                <div class="col-6">
                    <strong>Deposiit</strong>
                    <p>€<%= @apartment.deposit %></p>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <strong>Saadaval alates</strong>
                  <p><%= @apartment.available.downcase %></p>    
                </div>
                <div class="col-6">
                  <strong>Miinimum üürimisperiood</strong>
                  <p><%= @apartment.minimum_stay_in_months %> kuu(d)</p>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <strong>Korterikaaslased</strong>
                  <p>Naissoost: <%= @apartment.flatmates_female %></p>
                  <p>Meessoost: <%= @apartment.flatmates_male %></p> 
                </div>
                <div class="col-6">
                  <strong>Eelistatud korterikaaslane</strong>
                  <p>Sugu: <%= @apartment.preferred_gender.downcase %></p>
                  <p>Vanus: <%= @apartment.min_preferred_flatmate_age %> – <%= @apartment.max_preferred_flatmate_age == 0 ? "..." : @apartment.max_preferred_flatmate_age  %></p>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-10">
                  <strong>Kuulutuse lisas</strong>
                  <p><%= link_to @apartment.user.name, user_path(@apartment.user) %></p>
                </div>
                <div class="col-6">
                </div>
              </div>
            </div>
            
            <div class="my-4 mx-4 mx-md-0">
             <%= render 'reservations/form' %>
            </div>

            <div class="apartment-info">
              <div class="row mt-4">
                  <div class="col-10">
                    <strong><%= t '.location' %></strong>
                    <p><%= @apartment.city unless @apartment.city.blank? %></p>
                    <p><%= @apartment.neighborhood unless @apartment.neighborhood.blank? %></p>
                    <p><%= @apartment.show_address ? @apartment.address : ""  %></p>
                  </div>
              </div>
              <div class="container-map">
              <% if !@apartment.latitude.blank? %>
                <div id="map-apartment-show" class="map-apartments" 
                  data-markers="<%= @markers.to_json %>"
                  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                </div>
              <% else %>
                <div class="">  
                  <p><%= t '.no_location_specified' %></p>
                </div>
              <% end %>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Apartment Details Section -->
